p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.product-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.product-offer {
    text-decoration: underline;
}